
<div class="container">
  
  <div style="height:80px; width:200px; background-color:peru; border-top-right-radius:80px; border-top-left-radius:80px;"></div>
  <div style="height:10px; width:200px; background-color:green"></div>
  <div style="height:10px; width:200px; background-color:red"></div>
  <div style="height:10px; width:200px; background-color:yellow"></div>
  <div style="height:15px; width:200px; background-color:brown"></div>
  <div style="height:10px; width:200px; background-color:green"></div>
  <div style="height:30px; width:200px; background-color:peru; border-bottom-right-radius:20px; border-bottom-left-radius:20px;"></div>

</div>


<h1>Burgers!</h1>

<h2>Burger Not Devoured!</h2>

  <ul>
    {{#each burger}}
      {{#unless devoured}}
        {{> burger devoured=false}}
      {{/unless}}
    {{/each}}
  </ul>


<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>


  <button type="submit">Add a Burger!</button>

  <button type="submit">Devour It!</button>

</form>

<div class="container">
  <ul>
    {{#each burger}}
      {{#unless devoured = true}}
      {{/devoured}}
    {{/each}}
  </ul>
</div>
